


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
    text-decoration: none;
    list-style: none;    
}

:root{
    --bg-color:#ffffff;
    --text-color:#0f172a;
    --main-color:#6b7280;
    --other-color:#334155;
    --big-font:4.3rem;
    --h2-font:2.2rem;
    --p-font:1rem;
}
body{
    background-color: #ffffff;
    
}

header img{
    width: 50px;
    height: 50px;
    margin-right: 50px;
    border-radius: 50px;
}

header{
    position: sticky;
    top: 0;
    right: 0;
display: flex;
align-items: center;
justify-content: space-around;
background: white;
padding: 5px;
width: 100%;
height: auto;
border-bottom:  1px solid lightgray;
transition: all .45s ease;
z-index: 10;


}

/* header.sticky{
;
    
} */


.del-img{
    display: flex;
    align-items: center;
    justify-content:center;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a{
    background: transparent;
    height: auto;
    width: 70px;
    padding: 10px 15px;
    border-radius: 20px;
    transition: all .45s ease;
    font-size: 17px;

    
}
.navbar li{
    margin-left: 30px;
}

.navbar a.active{
    background: whitesmoke;
}

.navbar a:hover{
    background: whitesmoke;
    letter-spacing: 1px;
}
#drop{
    background: transparent;
    border: none;
    outline: none;
    margin-left: -50px;
    
}
#menu-icon{
    display: none;
}



.icons i{
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
}
.icons i:hover{
background:whitesmoke;
transform: scale(0.9);
}




.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .45s ease;
    
}

section{
    padding: 100px 11% 90px;
}

.home{
    min-height: 100vh;
    width: 100%;
    background-image: url(./images/background.avif);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition: all .45s ease;
}

.home-img img{
    max-width: 100%;
    height: auto;
    
}

/* .home-text{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

} */

.home-text p {
font-size: 20px;
margin-bottom: 30px;
font-weight: 500;

}
.home-text h3 {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 500;
    
    }

.home-text a{
    padding: 15px 25px;
    background-color: var(--other-color);
    color: white;
    border-radius: 50px;
    margin-top: 10px;
    transition: all .45s ease;
    
}

.home-text a:hover{
    letter-spacing: 1px;
    opacity: 0.8;
    transition: all .45s ease;

}
span{
    font-weight: bold;
}

.feature-head{
    margin-bottom: 80px;
    margin-left: 50px;
}

.feature-head h3{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    
}

.feature{
    padding: 50px 50px;
    max-width: 100%;

}

.feature-container{
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: space-around;   
}

.feature-row{
    background: #e3ffe6;
    padding: 10px 25px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all .45s ease;
}

.feature-row.row2{
    background:#fef2f2 ;
}
.feature-head span{
    font-weight: lighter;
}

.feature-text h3, p{
    margin-bottom: 20px;
}



.feature-text a{
    background: #334155;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    transition: all .45s ease;
    
}
.feature-text a:hover{
    letter-spacing: 1px;
    opacity: 0.9;
    transition: all .45s ease;
}



.feature-row.row3{
    background: #eff6ff;
}

.feature-mainrow{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px 0 10px;
}

.feature-mainrow img{
    width: 170px;
    height: auto;
}

.product{
    padding: 50px;
}
.product-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition: all .45s ease;
}

.product-display{
    background: whitesmoke;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px 30px;
    position: relative;
    transition: all .45s ease;
}

.product-text{
    margin-bottom: 60px;
}

.product-text h3{
    font-size: 26px;
}

.product-text span{
    font-weight: lighter;
}
.product-img img{
    width: 150px;
    
}
.product-display h3{
    margin-bottom: 10px;
}

.heart{
    position: absolute;
    top: 20px;
    right: 20px;
    color: red;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;

}
.heart:hover{
    color: white;
    background: red;

}

.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: red;
    margin-top: 30px;
}

.price a{
    color: red;
    border: 1px solid red;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 13px;
}
.price a:hover{
    letter-spacing: 1px;
    transition: all .45s ease;
    color: white;
    background: red;
}


.price .star{
    margin-left: 10px;
}

.cta-feature{
    padding: 50px 50px;
}

.cta{
    background-image: url(./images/background.avif);
    background-size: cover;
    min-height: 70vh;
    min-width: 100%;
    padding: 10px 30px;
    border-radius: 10px;
    transition: all .45s ease;
    
}
.cta-content{
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.cta-text img{
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}



.cta h3{
    margin-bottom: 50px;
    font-size: 20px;
}
.cta p{
    margin-bottom: 50px;

}

.cta a{
    margin-bottom: 50px;
    background: #334155;
    padding: 15px 25px;
    color: white;
    border-radius: 30px;
    
}

.cta a:hover{
    letter-spacing: 1px;
    opacity: 0.9;
    transition: all .45s ease;
}
.footer-feature{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition: all .45s ease;
}
.footer-feature li{
    margin-bottom: 10px;
    transition: all .45s ease;
}

.footer-feature li:hover{
    transform: translateX(-5px);
    transition: all .45s ease;
}

.footer-text{
    margin-bottom: 10px;
}
.footer-text h3{
    margin-bottom: 20px;
    margin-left: -2px;
}

.bottom{
    text-align: center;
    font-weight:300 ;
    margin-bottom: 20px;
}


@media (min-width:1200px){
    .home{
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        max-height: 100vh;
        overflow: hidden;
        object-fit: cover;
    }

    .home-img{
        max-width: 100%;
        margin-top: -300px;
        object-fit: cover;
    }

    .cta{
        display: flex;
        align-items: center;
        min-height: 70vh;

    }

    .feature{
        padding: 10px;
    }

    .cta-text img{
        max-width: 300px;
    }
}


@media (max-width:1200px){
    .home{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        max-height: 100vh;
        object-fit: cover;
        overflow: hidden;
    }

    .home-img{
        max-width: 100%;
        margin-top: -250px;
    }

    .feature-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
    }

    .cta-text img{
        width:300px ;
    }
}

@media(max-width:1024px){
     .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 400px;
        width: 300px;
        padding: 30px 30px 30px 2px;
        transition: all .45s ease;
        

     }

     #menu-icon{
        display: block;
        font-size: 20px;
        background: whitesmoke;
     }

     .navbar.open{
        right: 0;
     }
        
     }

     


@media(max-width:967px ) {
    .home-img img{
        margin-top: 150px;

    }

    .footer-text{
        margin-right: 5px;
    }

}

@media(max-width:567px){
    .home-text{
     margin-top: -100px;    
    }

    .home-img img{
        max-width:100%;
    }

    .home-text h3{
        font-size: 30px;

    }

    .feature-text h3,p{
        font-size: 15px;
        
    }

    .feature-img img{
        width: 100%;
    }

    .product-content{
        display: flex;
        align-items: center;
        justify-content: center; 
    }
}